* {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}
*::before {
  font-size: 62.5%;
}

*::after {
  font-family: "Libre Bodoni", serif;
}

:root {
  --zoomAmount: 140%;
  --tint: DeepSkyBlue;
  --accent: rgb(47, 145, 243);
}

body {
  background: linear-gradient(90deg, #a0a0d1 10%, #90c3e8 90%);
}

button {
  font-style: oblique;
  padding: 1px;
  --c: green;
  --c2: aliceblue;
  box-shadow: 0 0 0 3px inset var(--c2);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 0 inset darkgrey;
  background-color: var(--c);
  color: aliceblue;
}
button {
  cursor: pointer;
  padding: 1px 9px;
  border: none;
}

#featureCard {
  margin: 2px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 2px;
  background-color: whitesmoke;
  color: blue;
  background: rgb(199, 225, 234);
}

.card {
  margin: 2px;
  padding: 2px;
  width: 100%;
  background-color: whitesmoke;
  color: blue;
  background: rgb(199, 225, 234);
}

figure figcaption h1 {
  position: relative;
  font-size: 6rem;
  color: lightskyblue;
  text-shadow: 1px 1px 0px black, 2px 2px 0px rgb(22, 0, 111),
    3px 3px 0px rgb(22, 0, 111);
  font-weight: 700;
  margin: 0;
  padding: 15px;
}

body > header,
body > header > div {
  background: url("https://picsum.photos/id/872/3840/2160");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}
